.hedgehog {
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url('../images/Hedgehog_walk.gif');
  bottom: 0px;
  z-index: 2;
}

.obstacle {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 0px;
  z-index: 3;
}

.slidingBackground {
  background: url("../images/background.png") repeat-x left top;
  height: 200px;
  width: 1000px;
  z-index: 1;
}

#espoo {
  position: absolute;
  bottom: 50%;
  width: 1000px;
  height: 200px;
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
}

#scoreText {
  position: absolute;
  top: 8px;
  right: 16px;
  margin: 3px;
  color: white;
  font-size: 1.3em;
}

#highScoreText {
  position: absolute;
  top: 32px;
  right: 16px;
  margin: 3px;
  color: white;
  font-size: 1.3em;
}

#guideText {
  position: absolute;
  top: 8px;
  left: 16px;
  color: white;
  font-size: 1.3em;
}

body {
  background-color: #222425;
}

#canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}